<div class="tags-list admin">
    <ul>
        <li n:foreach="$tags as $tag">{$tag->name} <a n:href="removeTag! $tag_id=$tag->id,$diary_id=$diary"><i class="fa fa-remove"></i></a></li>
    </ul>
</div>