{* Latte template *}

{block title}
{ifset $month} {$monthLabel} {$yearLabel} | {/ifset}Denník
{/block}

{block content}

<div class="row content">
    <div class="col-lg-12">

        <div class="calendar calendar-left">
            {if $previousMonth}
                <a class="btn btn-default" n:href="Diaries:default month=>$previousMonth['month'],year=>$previousMonth['year']"><span class="fa fa-angle-left"></span></a>
                {/if}
            <a class="btn btn-default calendar">{$monthLabel}</a>
            {if $nextMonth}
                <a class="btn btn-default" n:href="Diaries:default month=>$nextMonth['month'],year=>$nextMonth['year']"><span class="fa fa-angle-right"></span></a>
                {/if}
        </div>
        <div class="calendar calendar-right">
            {if $previousYear}
                <a class="btn btn-default" n:href="Diaries:default month=>$previousYear['month'],year=>$previousYear['year']"><span class="fa fa-angle-left"></span></a>
                {/if}
            <a class="btn btn-default calendar">{$yearLabel}</a>
            {if $nextYear}
                <a class="btn btn-default" n:href="Diaries:default month=>$nextYear['month'],year=>$nextYear['year']"><span class="fa fa-angle-right"></span></a>
                {/if}
        </div>

        {foreach $diaries as $diary}

            <div class="item">
                <div class="head">
                    <div class="date_start hidden-xs left">
                        <p class="day">{$diary->fromDate|date:'j'}</p>
                        <p class="month">{$diary->fromDate|date:'n'}</p>
                        <p class="year">{$diary->fromDate|date:'Y'}</p>
                    </div>
                    <h3 class="left">{$diary->title}</h3>
                </div>
                <div class="content">
                    <div class="visible-xs sm_screen_date"><strong>{$diary->fromDate|date:'j.n.Y'}</strong></div>
                    {$diary->text|noescape}
                </div>
                {var $photos = ltrim($diary->photogallery,'.')}
                {var $photos = (unserialize($photos))}
                {if $photos != NULL}
                    <div class="photos">
                        {foreach $photos as $photo}
                            <a href="{$photo['image']}" data-lightbox="{$diary->id}"><img src="{$photo['thumb']}"></a>
                            {/foreach}
                    </div>
                {/if}
                <hr>
            </div>
        {/foreach}

    </div>
</div>
