{* Latte template *}

{block content}

<div class="row content">
    <div class="col-lg-9" style="max-width: 700px">
        {foreach $articles as $article}
            <article class="article item">
                <a n:href="show $article->id">
                    <div class="head">
                        <div class="date_start hidden-xs left">
                            <p class="day">{$article->publishedDate|date:'j'}
                            <p class="month">{$article->publishedDate|date:'n'}
                            <p class="year">{$article->publishedDate|date:'Y'}
                        </div>
                        <a n:href="show $article->id">
                            <h3 class="left">{$article->title}</h3>
                        </a>
                    </div>
                </a>
                <div class="content">
                    <div class="visible-xs sm_screen_date"><strong>{$diary->fromDate|date:'j.n.Y'}</strong></div>
                    <a n:href="show $article->id">
                        <img class="article_intro_main" src="{$basePath}/uploads/articles/{$article->id}/{$article->introPhoto}" alt="{$article->title}">
                    </a>
                </div>
            </article>
        {/foreach}
    </div>
    <div class="col-lg-1 divider_5"></div>
    <div class="col-lg-3"><h3>Kalendár</h3>
       {control calendar}
    </div>
</div>
