{* Latte template *}

{dump $article}

{block meta}
        <meta name="description" content="{$article->metaDescription}">
        <meta name="news_keywords" content="{$article->metaKeywords}">
        <meta name="keywords" content="{$article->metaKeywords}">
{/block}

{block content}

<p class="test">

</p>

<div class="col-lg-12">
    <div class="item single">
        <div class="head">
            <div class="date_start hidden-xs left">
                <p class="day">{$article->publishedDate|date:'j'}
                <p class="month">{$article->publishedDate|date:'n'}
                <p class="year">{$article->publishedDate|date:'Y'}
            </div>
            <h3 class="left">{$article->title}</h3>
        </div>
        <div class="content single article">
            <div class="visible-xs sm_screen_date"><strong>{$diary->fromDate|date:'j.n.Y'}</strong></div>
            <img src="{$basePath}/uploads/articles/{$article->id}/{$article->introPhoto}">

            {$article->introText|noescape}

            {$article->text|noescape}
        </div>
    </div>
</div>

<script n:syntax="off">
  $(function(){
    $("p.test").html($(windows).width());
  });
</script>
