<!DOCTYPE html>
<html>
    <head>
        {default $lang = 'sk'}
        <meta charset="UTF-8">
        <meta name="description" content="">

        <meta name="robots" content="noindex,nofollow" />

        <title>{block title|striptags}MVTYM.6f.sk{/block}</title>

        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">

        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/nette.jquery.js"></script>

        <!-- FONT AVESOME -->
        <link rel="stylesheet" media="screen" href="{$basePath}/font-awesome/css/font-awesome.min.css">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
        <link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.css">
        <script src="{$basePath}/js/bootstrap/bootstrap.js"></script>

        <!-- HLAVNE CSS -->
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/style.css">

        <script src="{$basePath}/js/main.js"></script>

        <!-- JQUERY UI Datepicker -->
        <script src="{$basePath}/vendor/jquery-ui/jquery-ui.js"></script>
        <link rel="stylesheet" href="{$basePath}/vendor/jquery-ui/themes/base/all.css">

        <!-- GRIDO -->
        <link rel="stylesheet" href="{$basePath}/css/grido.css">
        <script src="{$basePath}/js/grido.js"></script>
        <script src="{$basePath}/js/plugins/grido.datepicker.js"></script>
        <script src="{$basePath}/js/plugins/grido.daterangepicker.js"></script>
        <script src="{$basePath}/js/plugins/grido.history.js"></script>
        <!-- <script src="{$basePath}/js/plugins/grido.nette.ajax.js"></script> -->
        <script src="{$basePath}/js/plugins/grido.typeahead.js"></script>

        <!-- LIGHTBOX 2 -->
        <script src="{$basePath}/lightbox/js/lightbox.min.js"></script>
        <link href="{$basePath}/lightbox/css/lightbox.css" rel="stylesheet" />

        {ifset #scripts}
            {include #scripts}
        {/ifset}

        {block head}

        {/block}
    </head>

    {ifset #body}
        {include #body}
    {else}
        <body>
        {/ifset}

        <div id="wrapper">
            <!-- <div id="site-container"> -->
            <div id="header">
                <div class="container">
                    <header>
                        <div id="logo">
                            <img src="{$basePath}/images/{$adminLogoImage}" >
                        </div>
                        <nav id="topnav">
                            {*include '@navigation.latte'*}
                        </nav>
                    </header>
                </div>
            </div>
            <div class="slider-line"></div>
            <div id="admin_content">
            <div class="container main">

                {foreach $flashes as $flash}
                    <div class="flash {$flash->type}">{$flash->message}</div>
                {/foreach}

                {include #content}
            </div>
            {if $presenter != 'Admin:Diary'}
                <footer id="footer">
                    {include '@footer.latte'}
                </footer>
            {else}
                <footer id="footer2" class="footer">
                    {include '@footer.latte'}
                </footer>
            {/if}
            <!-- SITE CONTAINER </div>  -->
        </div>
        </div>
    </body>
</html>
