{* Latte template *}

{block content}
    <ul class="sf-menu sf-js-enabled sf-arrows">
        <li class="main {if $presenter == ':Diary'}active{/if}">
            <a n:href="Diary:"><span>Denník</span></a>
        </li>
        <li class="main {if $presenter == ':Geocaching'}active{/if}">
            <a n:href="Geocaching:"><span>Geocaching</span></a>
        </li>    
        <li class="main {if $presenter == ':Articles'}active{/if}">
            <a n:href="Articles:"><span>Články</span></a>
        </li>    
        {*<li class="main {if $presenter == ':Fotogaleria'}active{/if}">
            <a n:href="Fotogaleria:"><span>Fotogaléria</span></a>
        </li>*}    
        {*<li class="main {if $presenter == ':Panoramy'}active{/if}">
            <a n:href="Panoramy:"><span>Panorámy</span></a>
        </li>*}    
    </ul>