{* Latte template *}

{block content}
<div class="content">
    <a n:href="Diary:default">
        <div class="box boxsize-a">
        <span class="content-title">Denník</span>
        </div>
    </a>    
      
    <a n:href="Geocaching:default">
        <div class="box boxsize-a">
        <span class="content-title">Geocaching</span>
        </div>
    </a>    

    <a n:href="Articles:default">
        <div class="box boxsize-a">
        <span class="content-title">Články</span>
        </div>
    </a>
    
    <div class="box boxsize-a">
    <span class="content-title">Cron</span>
    <i class="fa fa-clock-o"></i> {$cronTime}
    </div>
    
    <div class="clear"></div>
</div>    
