{* Latte template *}

{block scripts}
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script src="{$basePath}/js/nette.gpsPicker.js">
{/block}

{block content}
{control addPanorama}