{* Latte template *}

{block content}
<a class="button" n:href="Panoramy:add"><span class="fa fa-plus-circle"></span>Pridaj panorámu</a>

<table class="admin_table" style="margin-top:15px;">
    <tr class="th">
        <th>ID</th>
        <th>Názov</th>
        <th>Akcie</th>
    </tr>
{foreach $panoramy as $panorama}
    <tr>
        <td>{$panorama->id}</td>
        <td>{$panorama->name}</td>
        
        <td>
            <a href="../{$panorama->url}" data-lightbox="{$panorama->name}"><span class="fa fa-eye"></span></a>
            <a n:href="Panoramy:edit id=>$panorama->id"><span class="fa fa-edit"></span></a>
            <a n:href="delete! id=>$panorama->id" onclick="return confirm('Naozaj chcete odstrániť tento zápis?');"><span class="fa fa-trash-o"></span></a>
        </td>
    </tr>
{/foreach}
</table>