<html>
    <head>
    </head>
    <body>
        <div style="margin:0px; padding:0; color:#333; font:10pt/1.4 'Helvetica',Arial,Helvetica,sans-serif">
          <div style="background-color:#d9d9d9; width:100%; margin:0px; padding:5px; color:#333; font:10pt/1.4 'Helvetica',Arial,Helvetica,sans-serif">
            <div style="max-width: 600px; padding: 0; margin: 0px auto">
              <!-- header -->
              <div style="background-color: #435D43; border-top-left-radius:5px; border-top-right-radius:5px">
                <img src={$wwwDir}/images/logo-new-little.png">
              </div>
              <div style = "background-color: #fff;padding: 20px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; ">
                <h1 style = "font-size: 20px; margin: 0px 0px 20px 0px">Nová správa zo stránky</h1>
                <table style="border: 0px solid #fff">
                  <tr><td><strong>Meno:</strong></td><td>{$name}</td></tr>
                  <tr><td><strong>Predmet:</strong></td><td>{$subject}</td></tr>
                  <tr><td><strong>Čas:</strong></td><td>{$time|date: 'j.n.Y H:m:s'}</td></tr>
                  <tr><td><strong>Email:</strong></td><td>{$mail}</td></tr>
                  <tr><td><strong>Správa:</strong></td><td>{$message}</td></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
