<div class="modal fade" id="mailForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Odoslanie správy</h4>
            </div>
            <div class="modal-body">
                {form form class=>'ajax', id=>'mailForm', role=>'form'}
                    <div class="form-group">
                        {label mail_name/}
                        {input mail_name class=>'form-control'}
                    </div>
                    <div class="form-group">
                        {label mail_email/}
                        {input mail_email class=>'form-control'}
                    </div>
                    <div class="form-group">
                        {label mail_subject/}
                        {input mail_subject class=>'form-control'}
                    </div>
                    <div class="form-group">
                        {label mail_message/}
                        {input mail_message class=>'form-control'}
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="spinner"><img src="{$basePath}/images/spinner.gif"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvoriť</button>
                    {input mail_send class=>'btn btn-success'}
                </div>
            {/form}
        </div>
    </div>
</div>
