<div class="gctypes-grid-filter gcfilter">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			{if $gcTypeSelected}
                           <img src="/images/gcTypes/{$gcTypeSelected->image}" alt=""> {$gcTypeSelected->name}
                        {else}
                            Všetky typy    
                        {/if}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu filter-size">

			<li n:foreach="$gcTypes as $type">
				<a n:href="this gcType => $type->id"><img class="dropdown-image" src= "/images/gcTypes/{$type->image}" alt="">{$type->name}</a>
			</li>
			
		</ul>
	</div>
</div>
                        
<div class="gccountries-grid-filter gcfilter">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                       
			{if $gcCountrySelected}
                           <img src="/images/flags/shiny/16/{$gcCountrySelected->image}" alt=""> {$gcCountrySelected->country}
                        {else}
                            Všetky krajiny    
                        {/if}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu filter-size">

			<li n:foreach="$gcCountries as $item">
				<a n:href="this gcCountry => $item->id"><img class="dropdown-image" src= "/images/flags/shiny/16/{$item->image}" alt="">{$item->country}</a>
			</li>
			
		</ul>
	</div>
</div>

<div n:if="$gcRegions || $gcRegionSelected" class="gcregions-grid-filter gcfilter">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                       {if $gcRegionSelected}
                           {$gcRegionSelected}
                        {else}
                            Všetky kraje
                        {/if}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu filter-size">
                        {if $gcRegions}
			<li n:foreach="$gcRegions as $item">
				<a n:href="this gcRegions => $item['region']">{$item['region']}</a>
			</li>
                        {/if}
			
		</ul>
	</div>
</div>
                        
<div n:if="$gcDistricts || $gcDistrictSelected" class="gcdistricts-grid-filter gcfilter">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {if $gcDistrictSelected}
                           {$gcDistrictSelected}
                        {else}
                            Všetky okresy
                        {/if}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu filter-size">
                        {if $gcDistricts}
			<li n:foreach="$gcDistricts as $item">
				<a n:href="this gcDistricts => $item['district']">{$item['district']}</a>
			</li>
                        {/if}
			
		</ul>
	</div>
</div> 
                        
<div n:if="$gcTowns  || $gcTownSelected" class="gctowns-grid-filter gcfilter">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                       {if $gcTownSelected}
                           {$gcTownSelected}
                        {else}
                            Všetky obce
                        {/if}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu filter-size">
                    {dump $gcTowns}
                        {if $gcTowns}
			<li n:foreach="$gcTowns as $item">
				<a n:href="this gcTowns => $item['town']">{$item['town']}</a>
			</li>
                        {/if}
			
		</ul>
	</div>
</div>
                        
<div n:if="$gcRegions">
	<div class="btn-group gcfilter">
            <a n:href="removeSession!">
		<button type="button" class="btn btn-default">
                    <span class="fa fa-times" style="text-align:center"></span>
		</button>
            </a>    
        </div>    
</div>                                                