{dump $showForm}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Vloženie na facebook</h4>
            </div>
            <div class="modal-body">
                <p>Denník bol úspešne vložený, pre pridanie na facebook, vyber obrázok a stlač tlačítko</p>
                {form form id=>'diaryFacebook', role=>'form'}
                    <div class="form-group" n:ifset="$form[image]">
                        {label image/}
                        {input image class=>'form-control'}
                    </div>
                </div>
                <div class="modal-footer" n:ifset="$form[fb_send]">
                    <span class="spinner"><img src="{$basePath}/images/spinner.gif"></span>
                    <button type="button" id="fb_send" class="btn btn-facebook"><i class="fa fa-facebook-square"></i> Vložiť na facebook</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvoriť</button>
                    {input fb_send class=>'btn btn-success'}
                </div>
            {/form}
        </div>
    </div>
</div>

   

<script>
   $(function(){
       {if $showForm == TRUE}
            $('#myModal').modal('show');
       {/if}

       $("#fb_submit_btn").hide();
       $("#fb_send").click(function(){
           $("#fb_submit_btn").trigger("click");
       });
   });
</script>
