{* Latte template *}
    
{block content}
Počet kešiek: {$cachesNum}<br>
Najnovšie: <br> 
{foreach $newestCaches as $cache}
    {$cache->id} {$cache->name}<br>
{/foreach}
Najzápadnejšie: {$westest->id} {$westest->name}
Najvýchodnejšie:  {$eastest->id} {$eastest->name}
Najjužnejšie:  {$southest->id} {$southest->name}
Najsevernejšie:  {$northest->id} {$northest->name}
Najvyššie: {$highest->id} {$highest->altitude} {$highest->name}
Najnižšie: {$lowest->id} {$lowest->altitude} {$lowest->name}

<p>
    Rebríček krajín: 
    {foreach $countryRanking as $country}
        {$country->geocaching_countries_id}:{$country->count}
    {/foreach}
    
    
</p>

<p>
    Rebríček miest: 
    {foreach $townRanking as $town}
        {$town->town}:{$town->count}
    {/foreach}
    
    
</p>
{*dump $getHighest*}
