{* Latte template *}

{block content}
<div class="slider-line"></div>
<div class="container">
    <div class="col-sm-12">
        &copy; 2014 Martin Vrabec
        <ul class="socials" style="overflow:hidden">
            <li>
                <a href="https://www.facebook.com/Mvtym/" targe="_blank" title="Facebook">
                <span class="icon"><i class="fa fa-facebook-square"></i></span>
                <!--span class="label">Facebook</span-->
                </a>
            </li>
            <li>
                <a href="https://www.flickr.com/photos/27844421@N05" targe="_blank" title="Flickr">
                <span class="icon"><i class="fa fa-flickr"></i></span>
                <!--span class="label">Flickr</span-->
                </a>
            </li>
            <li>
                <a href="http://www.last.fm/user/orion05" targe="_blank" title="Last.fm">
                <span class="icon"><i class="fa fa-lastfm"></i></span>
                <!--span class="label">Last.fm</span-->
                </a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#mailForm">
                <span class="icon"><i class="fa fa-envelope-square"></i></span>
                <!--span class="label">Mail</span>-->
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <p class="endora"><endora></p>
    </div>
</div>
{/block}
