{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}
<!DOCTYPE html>
<html>
    <head>

        {default $lang = 'sk'}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Martin Vrabec" />
        <meta name="robots" content="all,follow" />
        {ifset #meta}
            {include #meta}
        {else}
            <meta name="keywords" content="blog, portfolio, geocaching, martin, vrabec, mvtym, dennik, panorámy" />
            <meta name="description" content="Osobný blog s denníkom " />
        {/ifset}

        <title>{ifset #title}{include #title}{/ifset}| mvonline.eu</title>
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Maiden+Orange" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Exo+2&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Kelly+Slab&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{$basePath}/images/favicon.ico">

        {ifset #css}
            {include #css}
        {/ifset}

        <!--         GRIDO
                <link rel="stylesheet" href="{$basePath}/css/grido.css">
                <script src="{$basePath}/js/grido.js"></script>
                <script src="{$basePath}/js/plugins/grido.datepicker.js"></script>
                <script src="{$basePath}/js/plugins/grido.daterangepicker.js"></script>
                <script src="{$basePath}/js/plugins/grido.history.js"></script>
                <script src="{$basePath}/js/plugins/grido.nette.ajax.js"></script>
                <script src="{$basePath}/js/plugins/grido.typeahead.js"></script> -->

        <!-- SUPERFISH -->
        {*<link rel="stylesheet" media="screen" href="{$basePath}/superfish/css/superfish.css">*}
        <link rel="stylesheet" media="screen" href="{$basePath}/superfish/css/superfish-navbar.css">
        {*<link rel="stylesheet" media="screen" href="{$basePath}/superfish/css/superfish-vertical.css">*}

        <!-- FONT AVESOME -->
        <link rel="stylesheet" media="screen" href="{$basePath}/font-awesome/css/font-awesome.min.css">


        <script src="{$basePath}/js/nette.jquery.js"></script>
        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/jquery.mobile-1.4.5.min.js"></script>
        {*include #scripts*}
        {*<script> document.documentElement.className+=' js' </script>*}


        <script src="{$basePath}/js/main.js"></script>

        <!-- LIGHTBOX 2 -->
        <script src="{$basePath}/lightbox/js/lightbox.min.js"></script>
        <link href="{$basePath}/lightbox/css/lightbox.css" rel="stylesheet" />

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.css">
        <script src="{$basePath}/js/bootstrap/bootstrap.js"></script>

        <!-- GRIDO -->
        <link rel="stylesheet" href="{$basePath}/css/grido.css">
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/spinner.ajax.js"></script>
        <script src="{$basePath}/js/grido.ajax.js"></script>

        <script src="{$basePath}/js/jquery.hashchange.min.js"></script>
        <script src="{$basePath}/js/jquery.maskedinput.min.js"></script>
        <script src="{$basePath}/js/typeahead.min.js"></script>
        <script src="{$basePath}/js/bootstrap-datepicker.js"></script>

        <script src="{$basePath}/js/grido.ext.js"></script>

        <script src="{$basePath}/js/main.ajax.js"></script>


        <!-- TOOLTIP --->
        <script src="{$basePath}/js/jquery.tooltipster.min.js"></script>
        <link rel="stylesheet" href="{$basePath}/css/tooltipster/tooltipster.css">

        <!-- BPOPUP -->
        <script src="{$basePath}/js/bPopup.js"></script>

        <!-- HLAVNE CSS -->
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/style.css">

        <!-- CHART.JS -->
        <script src='{$basePath}/vendor/Chart.js/Chart.min.js'></script>

        {ifset #scripts}
            {include #scripts}
        {/ifset}

        {block head}

        {/block}
    </head>

    {ifset #body}
        {include #body}
    {else}
        <body>
        {/ifset}
        <div id="wrapper">
            {control navigation:stickyMenu}
            {control navigation:toggleMenu}
            <div id="header">
                <div id="admin_bar" n:if="$user->isInRole('admin')">
                    <div class="container">
                        <span class="pull-left">
                            <i class="fa fa-user"></i>Administrátorský panel
                        </span>
                        <span class="pull-right">
                            {if $adminMode == true}
                                {var $adminModeLabel = 'Vypnúť admin mód'}
                            {else}
                                {var $adminModeLabel = 'Zapnúť admin mód'}
                            {/if}
                            <a href="{link changeAdminMode!}"><i class="fa fa-power-off"></i>{$adminModeLabel}</a>
                            <a href="{link logout!}"><i class="fa fa-sign-out"></i>Odhlásiť</a>
                        </span>
                    </div>
                </div>
                <div class="container">
                    <header class="hidden-xs">
                        {control navigation:mainMenu}
                    </header>
                </div>
            </div>
            <div id="content">
                <div class="slider-line"></div>
                <div class="container main">
                
                    <!--Flash hlásenie-->
                     {foreach $flashes as $flash}
                          <div class="flash {$flash->type}">{$flash->message}</div>
                      {/foreach}
                
                    {include #content}
                </div>
            </div>
            {control mailForm}
            <footer id="footer">
                {include '@footer.latte'}
            </footer>
            <!-- SITE CONTAINER </div>  -->
            <script n:syntax="off">
                (function (i, s, o, g, r, a, m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                }
)(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-91156545-1', 'auto');
                ga('send', 'pageview');

            </script>
        </div>
    </body>
</html>
