{* Latte template *}

{block content}
    <ul class="sf-menu sf-js-enabled sf-arrows">
        <li class="main diary {if $presenter == 'Front:Diaries'}active{/if}">
            <a n:href="Diaries:"><span>Denník</span></a>
        </li>
        <li class="main geocaching {if $presenter == 'Front:Geocaching'}active{/if}">
            <a n:href="Geocaching:"><span>Geocaching</span></a>
        </li>    
        <li class="main portfolio {if $presenter == 'Front:Portfolio'}active{/if}">
            <a n:href="Portfolio:"><span>Portfólio</span></a>
        </li>
        <li class="main photogallery {if $presenter == 'Front:Fotogaleria'}active{/if}">
            <a href="https://www.flickr.com/photos/27844421@N05" terget="_blank"><span>Fotogaléria</span></a>
        </li>    
        {*<li class="main {if $presenter == 'Front:Panoramy'}active{/if}">
            <a n:href="Panoramy:"><span>Panorámy</span></a>
        </li>*}    
    </ul>