{* Latte template *}

{block title}
Geocaching
{/block}

{block content}
    </div>
    {control mapBox}
    <div class = "container main">
        
     <div class="time">Naposledy aktualizované {$geocachingManager->getLeastDate()->getTimestamp()}</div>
     <div style="float:right"><a class="button" href="#" id="showStatisticsModal"><span class="fa fa-ticket"></span>Zobraz štatistiku</a></div>
    {control grid}
<script type="text/javascript">
    $(document).ready(function() {
            $('.tooltip').tooltipster();
            
            $(this).ajaxStart(function () {
                $('#grid').css('background-color','red');
            });
            
            $(this).ajaxStop(function () {
                $('#grid').css('background-color','#fff');
            });

            
        });
</script>

{include #statistics.latte}
