{* Latte template *}

{block title}
    Panorámy
{/block}

{block scripts}
    <script src="{$basePath}/js/panorama.js"></script>
        <script>
            $(document).ready(function(){
            $('ul.panoramy').panorama();
        });
        </script>
{/block}

{block content}
<!-- CONTAINER END -->
</div>
{*<div class="content panorama">*}
    {control googlePanoramasMap}
    <div class="container">
    
        <ul class="panoramy" align="center">    
    {foreach $panoramy as $panorama}
        <li style="width:{$panorama->width_mini}px;">
        <div>
        <span class="fa fa-external-link-square"></span>
        <a n:href="Panoramy:show id=>$panorama->id"><h2>{$panorama->name}</h2></a>
        </div>
            <a href="{$panorama->url}" data-lightbox="{$panorama->name}"><img src="{$panorama->url_mini}"></a><br>
        </li>
    {/foreach}
        </ul>
    </div>   
</div>
    
<script>
window.onload = loadScript;
</script>
    