{* Latte template *}

{block title}
    {$panorama->name} | Panorámy
{/block}

{block content}
<ul class="panoramy" align="center">    
   
        <li style="width:{$panorama->width_mini}px;">
        <h2 style="display:block">{$panorama->name}</h2>
            {var $image_min = str_replace('../','',$panorama->url_mini)}
            {*$image_min*}
            <a href="{$basePath}/{str_replace('../','',$panorama->url)}" data-lightbox="{str_replace('panorama/','',$panorama->url_mini)}"><img src="{$basePath}/{$image_min}"></a><br>
        </li>
        </ul>
    
        <div align="center">    
            {control googlePanoramaMap}
            
        </div>
        
    <script>window.onload = loadScript</script>