{* Latte template *}

{block title}
    Portfólio
{/block}

{block css}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
{/block}

{block content}
<div class="portfolio">
<p>
    Vitajte na mojom portfóliu. Volám sa Martin Vrabec a som <strong>web programátor</strong>. V súčasnosti som absolventom bakalárskeho štúdia na <strong>Fakulte riadenia a informatiky v Žiline</strong> v študijnom odbore <strong>Informatika</strong>.
    Už na základnej škole ma zaujala tvorba webových stránok a v roku 2005 som vytvoril prvú webovú stránku a začal sa hlbšie zaujímať o ich tvorbu. Môj záujem prerástol do záľuby a ovplyvnil výber strednej aj vysokej školy.
</p>

<h1>Projekty</h1>
<ul class="projekty">
    <li>
        <div class="obrazok"><img src="{$basePath}/images/portfolio/metallica_tym.jpg"></div>
        <div class="popis">
            <h2>Metallica</h2>
            <p><em>2007 - 2012</em></p>
            <p><em>Neoficiálna fanpage o stránke Metallica</em></p>
            <b><p>Použité technológie: </b> HTML, CSS</p>
        </div>
    </li>
    <li>
        <div class="obrazok"><img src="{$basePath}/images/portfolio/mvtym.jpg"></div>
        <div class="popis">
            <h2>MVTym</h2>
            <p><em>2007 - 2013</em></p>
            <p><em>Osobný blog</em></p>
            <b><p>Použité technológie: </b>Wordpress</p>
        </div>
    </li>
    <li>
        <div class="obrazok"><img src="{$basePath}/images/portfolio/sppjamnik.jpg"></div>
        <div class="popis">
            <h2>Špeciálnopedagogická poradňa</h2>
            <p><em>2009</em></p>
            <p><em>Webová stránka pre špeciálnopedagogickú poradňu pri špeciálnje ZŠ v Jamníku</em></p>
            <p>Použité technológie: </b> HTML, CSS, PHPs</p>
        </div>
    </li>
    <li>
        <div class="obrazok"><img src="{$basePath}/images/portfolio/panorama.jpg"></div>
        <div class="popis">
            <h2>Panorama</h2>
            <p><em>2011 - 2014</em></p> 
            <p><em>Webová stránka s kolekciou osobných panoramaticých fotografií</em></p>
            <p>Použité technológie: </b> PHP (CodeIgniter), JavaScript (jQuery)</p>
        </div>
    </li>
    <li>
        <div class="obrazok"><img src="{$basePath}/images/portfolio/autobazar.jpg"></div>
        <div class="popis">
            <h2>Bakalárska práca</h2>
            <p><em>2013 - 2014</em></p> 
            <p><em>Vytvorenie internetovej stránke pre autobazár spojenej s internetovým obchodom s auto súčiastkami</em></p>
            <p>Použité technológie: </b> PHP (CodeIgniter)</p>
        </div>
    </li>
    <li>
        <div class="obrazok"><img src="{$basePath}/images/portfolio/webkamery.jpg"></div>
        <div class="popis">
            <h2>Webkamery</h2>
            <p><em>2014</em></p> 
            <p><em>Zbierka online webových kamier</em></p>
            <p>Použité technológie: </b> PHP (Nette)</p>
            <a href="http://webkamery.6f.sk" class="button"><span class="fa fa-external-link-square"> Online</span></a>
        </div>
    </li>
    <li>
        <div class="obrazok"><img src="{$basePath}/images/portfolio/mvtym_new.jpg"></div>
        <div class="popis">
            <h2>MVTym</h2>
            <p><em>2014</em></p> 
            <p><em>Osobný blog</em></p>
            <p>Použité technológie: </b> PHP (Nette)</p>
            <span class="button"><span class="fa fa-warning">Vo výstavbe</span></span>
            <a href="http://mvtym.6f.sk" class="button"><span class="fa fa-external-link-square"> Online</span></a>
        </div>
    </li>
    
    
</ul>


<h1>Vzdelanie</h1>
    <ul class="education">
        <li> 
            <div class="years">2010-2014</div>
            <div class="school">
                <span>Žilinská univerzita v Žiline</span>
                <span>Fakulta riadenia a informatiky</span>
                <span>Informatika (bakalárske štúdium)</span>
            </div>
        </li>
        <li> 
            <div class="years">2006-2010</div>
            <div class="school">
                <span>Stredná odborná škola elektrotechnická</span>
                <span>Liptovský Hrádok</span>
            </div>
        </li>
    </ul>

</div>