{* Latte template *}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
	    {form form id=>'editGc', role=>'form', class=>'ajax'}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Úprava geocache</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        {label region/}
                        {input region class=>'form-control'}
                    </div>
                    <div class="form-group">
                        {label district/}
                        {input district class=>'form-control'}
                    </div>
                    <div class="form-group">
                        {label town/}
                        {input town class=>'form-control'}
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            {label date/}
                            {input date class=>'form-control', id=>'datetimepicker'}
                        </div>
                        <div class="col-xs-2">
                            {label hour/}
                            {input hour class=>'form-control'}
                        </div>
                        <div class="col-xs-2">
                            {label minutes/}
                            {input minutes class=>'form-control'}
                        </div>
                    </div>
                    {input id}
                </div>
                <div class="modal-footer">
                    <span class="spinner"><img src="{$basePath}/images/spinner.gif"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvoriť</button>
                    {input save class=>'btn btn-success gcEditSendBtn'}
                </div>
            {/form}
        </div>
    </div>
</div>

<script>
    /* Slovak initialisation for the jQuery UI date picker plugin. */
    jQuery(function ($) {
        $.datepicker.regional['sk'] = {
            closeText: 'Zavrieť',
            prevText: '&lt; Predchádzajúci',
            nextText: 'Nasledujúci &gt;',
            currentText: 'Dnes',
            monthNames: [
                'Január',
                'Február',
                'Marec',
                'Apríl',
                'Máj',
                'Jún',
                'Júl',
                'August',
                'September',
                'Október',
                'November',
                'December'
            ],
            monthNamesShort: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'Máj',
                'Jún',
                'Júl',
                'Aug',
                'Sep',
                'Okt',
                'Nov',
                'Dec'
            ],
            dayNames: [
                'Nedeľa',
                'Pondelok',
                'Utorok',
                'Streda',
                'Štvrtok',
                'Piatok',
                'Sobota'
            ],
            dayNamesShort: [
                'Ned',
                'Pon',
                'Uto',
                'Str',
                'Štv',
                'Pia',
                'Sob'
            ],
            dayNamesMin: [
                'Ne',
                'Po',
                'Ut',
                'St',
                'Št',
                'Pia',
                'So'
            ],
            dateFormat: 'd.m.yy',
            firstDay: 0,
            isRTL: false
        };
        $.datepicker.setDefaults($.datepicker.regional['sk']);
    });

    $('#datetimepicker').datepicker({
        dateFormat: "dd.mm.yy"
    });

</script>