<ol class="breadcrumb">
	<li n:foreach="$links as $link" {if !$link['link']}class="active"{/if}>
		{if $link['link']}
			<a href="{plink $link['link']}" title="{$link['title']}">{$link['title']}</a>
		{else}
			{$link['title']}
		{/if}
	</li>
</ol>