{* Latte template *}

{*block content*}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-header" style="background: #fff; padding: 5px; height:50px">
            <div class="left" style="width:70%;">
                <ul class="nav nav-pills" id="geocachingStats">
                    <li role="presentation" class="active"><a href="#"> Počet kešiek</a>
                    </li>
                    <li role="presentation"><a href="#"> Všeobecne</a>
                    </li>
                    <li role="presentation"><a href="#"> Krajiny</a>
                    </li>
                    <li role="presentation"><a href="#"> Kraje</a>
                    </li>
                    <li role="presentation"><a href="#"> Okresy</a>
                    </li>
                    <li role="presentation"><a href="#"> Obce</a>
                    </li>
                </ul>
            </div>
            <div class="right">
                <a type="button" class="btn btn-default btn-close" href="{plink ranking}">Kompletné rebríčky</a>
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Zatvoriť</button>
            </div>
        </div>


        <div class="modal-content">


            {*first page*}
            <div class="page" id="p0">
                <div class='modalContainer'>
                    <div class='gcList'>
                        <ol class="list-group">
                            <li class="list-group-item active"> Počet kešiek
                                <span class="badge">{$gcCount}</span>
                            </li>
                            {foreach $gcTypeChart as $gc}
                                <li class="list-group-item"> 
                                    <img src='{$basePath}/images/gcTypes/{$gc['image']}' alt=''>
                                    {$gc['name']}
                                    <span class="badge">{$gc['county']}</span>
                                </li>

                            {/foreach}
                        </ol>
                    </div>
                    <div id="canvas-holder">
                        <canvas id="chart-area" class="chart-area" width="250" height="200"/>
                    </div>
                </div>
            </div>

            {*second page*}
            <div class="page" id="p1" style="display:none">
                <div class='modalContainer'>
                    {*<div class='gcStatsList left'>*}
                    <div class="col-lg-6">
                        <ol class="list-group">
                            <li class="list-group-item active"> Priemerná výška
                            </li>
                            <li class="list-group-item">
                                {round($gcStats['average'],2)} m.
                            </li>
                            <li class="list-group-item active"> Najvyššie položená keška
                                <span class="badge">
                                    <span class="fa fa-chevron-up">{$gcStats['highest']->altitude} m.</span>
                                </span>    
                            </li>
                            <li class="list-group-item">
                                <img src="{$basePath}/images/flags/shiny/24/{$gcStats['highest']->country->image}">
                                {$gcStats['highest']->id}
                                {$gcStats['highest']->name}
                            </li>
                            <li class="list-group-item active"> Najnižšie položená keška
                                <span class="badge">
                                    <span class="fa fa-chevron-down">{$gcStats['lowest']->altitude} m.</span>
                                </span>    
                            </li>
                            <li class="list-group-item">
                                <img src="{$basePath}/images/flags/shiny/24/{$gcStats['lowest']->country->image}">
                                {$gcStats['lowest']->id}
                                {$gcStats['lowest']->name}
                            </li>
                        </ol>
                    </div>
                    {*<div class="gcStatsList right">*}
                    <div class="col-lg-6">
                        <ol class="list-group">
                            <li class="list-group-item active"> Najsevernejšia keška
                            </li>
                            <li class="list-group-item">
                                <img src="{$basePath}/images/flags/shiny/24/{$gcStats['northest']->country->image}">
                                {$gcStats['northest']->id}
                                {$gcStats['northest']->name}
                            </li>
                            <li class="list-group-item active"> Najvýchodnejšia keška
                            </li>
                            <li class="list-group-item">
                                <img src="{$basePath}/images/flags/shiny/24/{$gcStats['eastest']->country->image}">
                                {$gcStats['eastest']->id}
                                {$gcStats['eastest']->name}
                            </li>
                            <li class="list-group-item active"> Najjužnejšia keška
                            </li>
                            <li class="list-group-item">
                                {var $gcStat = $gcStats['southest']}
                                <img src="{$basePath}/images/flags/shiny/24/{$gcStat->country->image}">
                                {$gcStat->id}
                                {$gcStat->name}
                            </li>
                            <li class="list-group-item active"> Najzápadnejšia keška
                            </li>
                            <li class="list-group-item">
                                {var $gcStat = $gcStats['westest']}
                                <img src="{$basePath}/images/flags/shiny/24/{$gcStat->country->image}">
                                {$gcStat->id}
                                {$gcStat->name}
                            </li>
                        </ol>
                    </div>
                </div>
            </div> 
            {*third page*}
            <div class="page" id="p2" style="display:none">
                <div class='modalContainer'>
                    <div class='gcList'>
                        <ol class="list-group">
                            <li class="list-group-item active"> Počet kešiek
                                <span class="badge">{$gcCount}</span>
                            </li>
                            {foreach $countryRanking as $gc}
                                <li class="list-group-item"> 
                                    <img src='{$basePath}/images/flags/shiny/16/{$gc['gc_image']}' alt=''>
                                    {$gc['gc_country']}
                                    <span class="badge">{$gc['county']}</span>
                                </li>

                            {/foreach}
                        </ol>
                    </div>
                    <div id="canvas-holder">
                        <canvas id="gcCountry-chart-area" class="chart-area" width="250" height="200"/>
                    </div>
                </div>
            </div>
            <div class="page" id="p3" style="display:none">
                <div class='modalContainer'>
                    <div class='gcList'>
                        <ol class="list-group">
                            <li class="list-group-item active"> Počet kešiek
                                <span class="badge">{$gcCount}</span>
                            </li>
                            {foreach $regionRanking as $gc}
                                <li class="list-group-item"> 
                                    <img src='{$basePath}/images/flags/shiny/16/{$gc['gc_image']}' alt=''>
                                    {$gc['region']}
                                    <span class="badge">{$gc['county']}</span>
                                </li>

                            {/foreach}
                        </ol>
                    </div>
                    <div id="canvas-holder">
                        <canvas id="gcRegion-chart-area" class="chart-area" width="250" height="200"/>
                    </div>
                </div>
            </div>
            <div class="page" id="p4" style="display:none">
                <div class='modalContainer'>
                    <div class='gcList'>
                        <ol class="list-group">
                            <li class="list-group-item active"> Počet kešiek
                                <span class="badge">{$gcCount}</span>
                            </li>
                            {foreach $districtRanking as $gc}
                                <li class="list-group-item"> 
                                    <img src='{$basePath}/images/flags/shiny/16/{$gc['gc_image']}' alt=''>
                                    {$gc['district']}
                                    <span class="badge">{$gc['county']}</span>
                                </li>

                            {/foreach}
                        </ol>
                    </div>
                    <div id="canvas-holder">
                        <canvas id="gcDistrict-chart-area" class="chart-area" width="250" height="200"/>
                    </div>
                </div>
            </div>
            <div class="page" id="p5" style="display:none">
                <div class='modalContainer'>
                    <div class='gcList'>
                        <ol class="list-group">
                            <li class="list-group-item active"> Počet kešiek
                                <span class="badge">{$gcCount}</span>
                            </li>
                            {foreach $townRanking as $gc}
                                <li class="list-group-item"> 
                                    <img src='{$basePath}/images/flags/shiny/16/{$gc['gc_image']}' alt=''>
                                    {$gc['town']}
                                    <span class="badge">{$gc['county']}</span>
                                </li>

                            {/foreach}
                        </ol>
                    </div>
                    <div id="canvas-holder">
                        <canvas id="gcTown-chart-area" class="chart-area" width="250" height="200"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        var pieData = [
        {foreach $gcTypeChart as $gc}
        {
        value: {$gc['county']|noescape},
                color: {$gc['color']},
                label: {$gc['name']}
        },
        {/foreach}
        ];
                var gcCountryData = [
        {foreach $countryRanking as $gc}
                {
                value: {$gc['county']|noescape},
                        color: {$chartColors['dark']},
                        highlight: {$chartColors['light']},
                        label: {$gc['gc_country']}
                },
        {/foreach}
                ];
                var gcRegionData = [
        {foreach $regionRanking as $gc}
                {
                value: {$gc['county']|noescape},
                        color: {$chartColors['dark']},
                        highlight: {$chartColors['light']},
                        label: {$gc['region']}
                },
        {/foreach}
                ];
                var gcDistrictData = [
        {foreach $districtRanking as $gc}
                {
                value: {$gc['county']|noescape},
                        color: {$chartColors['dark']},
                        highlight: {$chartColors['light']},
                        label: {$gc['district']}
                },
        {/foreach}
                ];
                var gcTownData = [
        {foreach $townRanking as $gc}
                {
                value: {$gc['county']|noescape},
                        color: {$chartColors['dark']},
                        highlight: {$chartColors['light']},
                        label: {$gc['town']}
                },
        {/foreach}
                ];
                window.onload = function () {
        {*color: {$gc['color']},*}
                    var ctx = document.getElementById("chart-area").getContext("2d");
                            window.myPie = new Chart(ctx).Pie(pieData);
                            var country = document.getElementById("gcCountry-chart-area").getContext("2d");
                            window.myPie = new Chart(country).Pie(gcCountryData);
                            var region = document.getElementById("gcRegion-chart-area").getContext("2d");
                            window.myPie = new Chart(region).Pie(gcRegionData);
                            var district = document.getElementById("gcDistrict-chart-area").getContext("2d");
                            window.myPie = new Chart(district).Pie(gcDistrictData);
                            var town = document.getElementById("gcTown-chart-area").getContext("2d");
                            window.myPie = new Chart(town).Pie(gcTownData);
                    };
   
    //switching content
    $('ul#geocachingStats li').click(function(e){
       e.preventDefault();
       var index = $(this).index(); 
       console.log(index);
       $('ul#geocachingStats li').removeClass('active');
       $('.page').hide();
       $('#p'+index).show()
       $(this).addClass('active');
       
    });
    
    
    </script>
    
    


</div>

</div>
</div>
