{* Latte template *}

{block content}

<div class="container main">
    <div class="row content">
        <div class="stat_labels"><span class="active">Všeobecné</span> / Krajiny / Regióny / Okresy / Obce</div>
            <div class="row">
            <div class="col-md-6">
                <ul class="gc_stats_ul"> 
                    <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                        <div class="chart"></div>
                        <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top:9px">    
                            <img src='' alt='' style="z-index:10">
                                <strong>Počet kešiek</strong>
                                <span class="right"><strong>{$gcCount}</strong></span>
                        </div>    
                    </li>
                    {foreach $gcTypeChart as $gc}
                    <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                        <div class="chart" style="width:{$gc['width']|noescape}92%;"></div>
                        <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top: 9px">    
                            <img src='{$basePath}/images/gcTypes/{$gc['image']}' alt='' style="z-index:10">
                                {$gc['name']}
                            <span class="right">{$gc['county']}</span>
                        </div>    
                    </li>
                    {/foreach}
                </ul>            
            </div>
            <div class="col-md-6">
            <ul class="gc_stats_ul"> 
                <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                    <div class="stat-up">Najvyššie položená keška</div>
                    <div class="stat-down right">
                        {$gcStats['highest']->altitude} m.
                        <img src="{$basePath}/images/flags/shiny/24/{$gcStats['highest']->country->image}">
                        {$gcStats['highest']->name}
                        {$gcStats['highest']->id}
                    </div>
                </li>
                <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                    <div class="stat-up">Najnižšie položená keška</div>
                    <div class="stat-down right">
                        {$gcStats['lowest']->altitude} m.
                        <img src="{$basePath}/images/flags/shiny/24/{$gcStats['lowest']->country->image}">
                        {$gcStats['lowest']->name}
                        {$gcStats['lowest']->id}
                    </div>
                </li> 
                <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                    <div class="stat-up">Priemerná výška</div>
                    <div class="stat-down right">
                        {round($gcStats['average'],2)} m.
                    </div>
                </li>
                <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                    <div class="stat-up">Najsevernejšie položená keška</div>
                    <div class="stat-down right">
                        <img src="{$basePath}/images/flags/shiny/24/{$gcStats['northest']->country->image}">
                        {$gcStats['northest']->name}
                        {$gcStats['northest']->id}
                    </div>
                </li> 
                <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                    <div class="stat-up">Navýchodnejšie položená keška</div>
                    <div class="stat-down right">
                        <img src="{$basePath}/images/flags/shiny/24/{$gcStats['eastest']->country->image}">
                        {$gcStats['eastest']->name}
                        {$gcStats['eastest']->id}
                    </div>
                </li>
                <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                    <div class="stat-up">Najjužnejšie položená keška</div>
                    <div class="stat-down right">
                        <img src="{$basePath}/images/flags/shiny/24/{$gcStats['southest']->country->image}">
                        {$gcStats['southest']->name}
                        {$gcStats['southest']->id}
                    </div>
                </li>
                <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                    <div class="stat-up">Najzápadnejšie položená keška</div>
                    <div class="stat-down right">
                        <img src="{$basePath}/images/flags/shiny/24/{$gcStats['westest']->country->image}">
                        {$gcStats['westest']->name}
                        {$gcStats['westest']->id}
                    </div>
                </li>
            </ul>    
            </div>
        </div>
        <!-- 2 -->
            <div class="stat_labels">Všeobecné/ <span class="active">Krajiny</span> / Regióny / Okresy / Obce</div>
            <div class="row">
            <div class="col-md-6">
                <ul class="gc_stats_ul"> 
                    <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                        <div class="chart"></div>
                        <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top:9px">    
                            <img src='' alt='' style="z-index:10">
                                <strong>Počet kešiek</strong>
                                <span class="right"><strong>{$gcCount}</strong></span>
                        </div>    
                    </li>
                    {foreach $countryRanking as $gc}
                    <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                        <div class="chart" style="width:{$gc['width']|noescape}%;"></div>
                        <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top: 9px">    
                            <img src='{$basePath}/images/flags/shiny/16/{$gc['gc_image']}' alt='' style="z-index:10">
                                {$gc['gc_country']}
                            <span class="right">{$gc['county']}</span>
                        </div>    
                    </li>
                    {/foreach}
                </ul>            
            </div>
            <div class="col-md-6">
            <ul class="gc_stats_ul"> 
                
            </ul>    
            </div>
        </div>
        <!-- 3 -->
            <div class="stat_labels">Všeobecné/ Krajiny / <span class="active">Regióny</span> / Okresy / Obce</div>
            <div class="row">
            <div class="col-md-6">
                <ul class="gc_stats_ul"> 
                    <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                        <div class="chart"></div>
                        <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top:9px">    
                            <img src='' alt='' style="z-index:10">
                                <strong>Počet kešiek</strong>
                                <span class="right"><strong>{$gcCount}</strong></span>
                        </div>    
                    </li>
                    {var $count = count($regionRanking)}
                    {var $limit = 6 > $count ? $count : 6}
                    {for $i=0; $i < $limit; $i++}
                        <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                            <div class="chart" style="width:{$regionRanking[$i]['width']|noescape}%;"></div>
                            <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top: 9px">    
                                <img src='{$basePath}/images/flags/shiny/16/{$regionRanking[$i]['gc_image']}' alt='' style="z-index:10">
                                    {$regionRanking[$i]['region']}, {$regionRanking[$i]['gc_country']}
                                <span class="right">{$regionRanking[$i]['county']}</span>
                            </div>    
                         </li>
                    {/for}  
                </ul>            
            </div>
            <div class="col-md-6">
                <ul class="gc_stats_ul"> 
                    {*dump($regionRanking)*}
                    {*var $limit = 13 > $count ? $count : $count - 6*}
                    {var $limit = 12}
                    {for $i=6; $i <= $limit; $i++}
                       {if $i !== $limit}
                        <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                            <div class="chart" style="width:{$regionRanking[$i]['width']|noescape}%;"></div>
                            <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top: 9px">    
                                <img src='{$basePath}/images/flags/shiny/16/{$regionRanking[$i]['gc_image']}' alt='' style="z-index:10">
                                    {$regionRanking[$i]['region']}, {$regionRanking[$i]['gc_country']}
                                <span class="right">{$regionRanking[$i]['county']}</span>
                            </div>    
                         </li>
                        {else}
                            <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                            <div class="chart" style="width:{$regionRanking['ostatne']['width']|noescape}%;"></div>
                            <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top: 9px">    
                                <img src='{$basePath}/images/flags/shiny/16/{$regionRanking['ostatne']['gc_image']}' alt='' style="z-index:10">
                                    {$regionRanking['ostatne']['region']}
                                <span class="right">{$regionRanking['ostatne']['county']}</span>
                            </div>    
                         </li>
                         {/if}    
                    {/for}
                </ul>            
            </div>
        </div>
        <!-- 4 -->
        <div class="stat_labels">Všeobecné/ Krajiny / Regióny / <span class="active">Okresy</span> / Obce</div>
            <div class="row">
            <div class="col-md-6">
                <ul class="gc_stats_ul"> 
                    <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                        <div class="chart"></div>
                        <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top:9px">    
                            <img src='' alt='' style="z-index:10">
                                <strong>Počet kešiek</strong>
                                <span class="right"><strong>{$gcCount}</strong></span>
                        </div>    
                    </li>
                    {dump $districtRanking}

                    {var $count = count($districtRanking)}
                    {var $limit = 6 > $count ? $count : 6}
                    {for $i=0; $i < $limit; $i++}
                        <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                            <div class="chart" style="width:{$districtRanking[$i]['width']|noescape}92%;"></div>
                            <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top: 9px">    
                                <img src='{$basePath}/images/flags/shiny/16/{$districtRanking[$i]['gc_image']}' alt='' style="z-index:10">
                                    {$districtRanking[$i]['district']}, {$districtRanking[$i]['gc_country']}
                                <span class="right">{$districtRanking[$i]['county']}</span>
                            </div>    
                         </li>
                    {/for}  
                </ul>            
            </div>
            <div class="col-md-6">
                <ul class="gc_stats_ul"> 
                    {var $count = count($districtRanking)}
                    {var $limit = 13}
                    {dump $limit}
                    {dump $count}
                    {for $i=6; $i < $limit; $i++}
                        {if !$districtRanking[$i]}
                            {var $i = 'ostatne'}
                        {/if}
                        <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                            <div class="chart" style="width:{$districtRanking[$i]['width']|noescape}%"></div>
                            <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top: 9px">    
                                <img src='{$basePath}/images/flags/shiny/16/{$districtRanking[$i]['gc_image']}' alt='' style="z-index:10">
                                    {$districtRanking[$i]['district']}, {$districtRanking[$i]['gc_country']}
                                <span class="right">{$districtRanking[$i]['county']}</span>
                            </div>    
                         </li>
                    {/for}
                </ul>            
            </div>
        </div>
                
        <!-- 5 -->
        <div class="stat_labels">Všeobecné/ Krajiny / Regióny / Okresy / <span class="active">Obce</span></div>
            <div class="row">
            <div class="col-md-6">
                <ul class="gc_stats_ul"> 
                    <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                        <div class="chart"></div>
                        <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top:9px">    
                            <img src='' alt='' style="z-index:10">
                                <strong>Počet kešiek</strong>
                                <span class="right"><strong>{$gcCount}</strong></span>
                        </div>    
                    </li>
                    {dump $townRanking}

                    {var $count = count($townRanking)}
                    {var $limit = 6 > $count ? $count : 6}
                    {for $i=0; $i < $limit; $i++}
                        <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                            <div class="chart" style="width:{$townRanking[$i]['width']|noescape}%;"></div>
                            <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top: 9px">    
                                <img src='{$basePath}/images/flags/shiny/16/{$townRanking[$i]['gc_image']}' alt='' style="z-index:10">
                                    {$townRanking[$i]['town']}, {$townRanking[$i]['region']}, {$townRanking[$i]['gc_country']}
                                <span class="right">{$townRanking[$i]['county']}</span>
                            </div>    
                         </li>
                    {/for}  
                </ul>            
            </div>
            <div class="col-md-6">
                <ul class="gc_stats_ul"> 
                    {var $count = count($townRanking)}
                    {var $limit = 13}
                    {dump $limit}
                    {dump $count}
                    {for $i=6; $i < $limit; $i++}
                        {if !$townRanking[$i]}
                            {var $i = 'ostatne'}
                        {/if}
                        <li class="list-group-item" style="position:relative; z-index:10; height:40px"> 
                            <div class="chart" style="width:{$townRanking[$i]['width']|noescape}%"></div>
                            <div style="z-index: 1000; position: absolute; display: inline-block; width: 98%; padding: 0px; margin: 0px; top: 9px">    
                                <img src='{$basePath}/images/flags/shiny/16/{$townRanking[$i]['gc_image']}' alt='' style="z-index:10">
                                    {$townRanking[$i]['town']}, {$townRanking[$i]['region']}, {$townRanking[$i]['gc_country']}
                                <span class="right">{$townRanking[$i]['county']}</span>
                            </div>    
                         </li>
                    {/for}
                </ul>            
            </div>
        </div>        
    </div>    
</div>   
                    
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Oxygen::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>                