{* Latte template *}

{block content}
{form form class=>'form-horizontal'}
    <div class="form-group">
        <label for="cat_name">{label cat_name/}</label>
        {input cat_name class=>'form_control', placeholder=>'Názov kategórie'}
    </div>
    <div class="form-group">
        <label for="cat_parent">{label cat_parent/}</label>
        {input cat_parent class=>'form_control'}
    </div>
    <div class="form-group">
        <label for="cat_image">{label cat_image/}</label>
        {input cat_image class=>'form_control'}
    </div>
    
    <div n:if="$kategoria->photogallery">
        {dump $kategoria->getPhoto()->url}
        <img src="{$baseUri.$kategoria->getPhoto()->url}">
        
    </div>
    
    <div class="form-group">
        {input cat_send}
    </div>    
{/form} 
