{var $robots = noindex}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>404 stránka nenájdená</title>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body, html {
                width: 100%;
                height: 100%;
                padding: 0px;
                margin: 0px;
                background: #FFFFFF;
                font-family: 'PT Sans', sans-serif;
                color:#555;
            }
            div {
                text-align:center;
            }
            p {
                font-size:220px; line-height:0.7; margin:120px 0 0 0; color:#555;
            }
            h4 {
                font-size:25px;
            }
            a {
                padding:15px 30px;
                background:#769676;
                color:#fff;
                text-decoration:none;
            }
        </style>


    </head>

    <body>
        <div>
            <img src="/images/mvtym_empty.png" title="MVtym blog" alt="MVtym blog">
            <p>404</p>
            <h4>Niečo chýba. Táto stránka neexistuje.</h4>
            <a href="" onclick="history.go(-1);
                    return false;">Späť</a>
        </div>
		</body>	
</html>
