{* Latte template *}

{block content}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />

<div class="slider-line"></div>
<div id="map" style="width:100%;height:200px;margin-top:2px;">
    <button type="button" class="btn btn-default" id="fit-to-screen" style="position:absolute; top: 10px; right: 7px; z-index: 10">
        <span class="fa fa-arrows-alt"></span>
    </button>
</div>    
<div class="slider-line"></div>

<script n:syntax="off">
$(function(){
        L.mapbox.accessToken = 'pk.eyJ1Ijoib3Jpb24wNSIsImEiOiJ4Nm9XdHNJIn0.JwpCAXJxYicpzYzOFUivbA';

        var map = L.mapbox.map('map', 'orion05.l3akgdpl')
            .setView([49.3082, 19.06305], 6);

        var featureLayer = L.mapbox.featureLayer()
            .loadURL('/map.geojson')
            .addTo(map);    

        // Set a custom icon on each marker based on feature properties.
        map.on('layeradd', function(e) {
            var marker = e.layer,
                feature = marker.feature;

            marker.setIcon(L.icon(feature.properties.icon));
        });    
    
    var fitted = false;
    var mapcontainer = $('#map');
    var original_height = mapcontainer.height();
    var container = $('#gc-main');
    
   $('#fit-to-screen').click(function(){
       
       // console.log(mapa); 
       
        var status = fitted === true? true : false; 
        
        if (status === false){ 
            fitted = true;
       
            var header = $('#header').height();;
            var h =  $(window).height() - header;

            mapcontainer.css('height', h);
            
            container.hide();
            
        } else {
            fitted = false;
          
            mapcontainer.css('height', original_height);
            container.show();
            
        }
        
        map.invalidateSize();
       
   });
});

</script>    

