{* Latte template *}

{block content}

{* KATEGORIE *}
<a class="button" href="{plink Category:Add}">Pridaj kategóriu</a>
<a class="button" href="{plink Neo4j!}">Vytvor neo4j sieť</a>
{dump $presenter->link("neo4j!")}
<!--<table>
    <tr>
{if !$categories}
    <td>
        Zoznam kategórií je prázdny 
    </td>
{else}
    {foreach $categories as $category}
    <tr>
        <td>
        {$category->name}
        </td>
    </tr>
    {/foreach}
{/if}
    </tr>
</table>    -->

{control grid}