{* Latte template *}

{block title}
Geocaching
{/block}

{block content}
</div>
<div class="mapbox">
    <div class="slider-line"></div>
    {control mapBox}
</div>

<div class="container main" id="gc-main">
<div class="col-lg-12">
    <span class="time">Naposledy aktualizované {$geocachingManager->getLeastDate()}</span>
</div>
<div class="col-lg-12">
    <div class="grid-top-box">
        {control statsFilter}
        {control geocachingFilter}
        <div class="top-buttons btn-group">
            <!--<a class="btn btn-success" href="#" data-toggle="modal" data-target="#myModal"><span class="fa fa-ticket"></span>Zobraz štatistiku</a>-->
            <a class="btn btn-success" n:href="Geocaching:statistics"><span class="fa fa-ticket"></span>Zobraz štatistiku</a>
        </div>
    </div>
    {control grid}
</div>
    <script type="text/javascript">
    $(document).ready(function () {
        $('.tooltip').tooltipster();

        $(this).ajaxStart(function () {
            $('#grid').css('background-color', 'red');
        });

        $(this).ajaxStop(function () {
            $('#grid').css('background-color', '#fff');
        });
        
    });
        {include script.latte}
        {*control geocachingGlobalStats*}
