{* Latte template *}
<script>
    $(document).ready(function () {
        $('#footer').hide();
        
        $('#showStatisticsModal').click(function (e) {
            e.preventDefault();
            $('#statisticsModal').bPopup({
                closeClass: 'closeModal',
                speed: 250,
                transition: 'slideDown'});
        });
    });
</script>

<script>
    {*tabs*}
    $(document).ready(function () {
        $('ul.nav li').click(function (e) {
            e.preventDefault();
            var active = $('ul.nav li').index($('ul.nav li.active'));
            var index = $('ul.nav li').index(this);
            //hide and remove old tab and content
            $('ul.nav li:eq('+active+')').removeClass('active');
            $('#page'+active).hide();
            //show new tab and content
            $('ul.nav li:eq('+index+')').addClass('active');
            $('#page'+index).show();
            
        });
    });
</script>