<div id="primary-menu" class="hidden-xs">
    <div class="container">
        <a href="{plink "Homepage:default"}">
        <div id="logo">
            <img src="{$basePath}/images/{$mainLogo}">
        </div>
        </a>
        <div class="primary-menu">
            <ul class="main-menu">
                {foreach $navigation as $nav}
                    <li class="{$nav['class']} {if $presenter == $nav['pureName']}active{/if}">
                        {ifset $nav['link']}
                            <a href="{$nav['link']}">
                            {else}        
                                <a href={plink ($nav['presenter'])}>
                                {/ifset}        
                                <div>{$nav['label']}</div>
                            </a>
                            <span/>
                    </li>
                {/foreach}
            </ul>    
        </div>
    </div>
</div>