<div id="secondary-menu-wrapper" class="hidden-xs">
    <div class="container">
        <div id="secondary-menu">
            <a href="{plink "Homepage:default"}">
            <div id="sticky-logo">
                <img src="{$basePath}/images/{$stickyLogo}">
            </div>
            </a>
            <div class="secondary-menu">
                <ul class="sticky-menu">
                    {foreach $navigation as $nav}
                        <li class="{$nav['class']} {if $presenter == $nav['pureName']}active{/if}">
                            {ifset $nav['link']}
                                <a href="{$nav['link']}">
                                {else}        
                                    <a href={plink ($nav['presenter'])}>
                                    {/ifset}        
                                    <div>{$nav['label']}</div>
                                </a>
                                <span/>
                        </li>
                    {/foreach}
                </ul>    
            </div>
        </div>
    </div>
</div>