<div id="toggle-menu-wrapper" class="visible-xs">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
            </button>
            <a href="{plink "Homepage:default"}">
                <div class="logo toggle-logo">
                    <a class="navbar-brand visible-xs" href="./">
                        <img src="{$basePath}/images/{$stickyLogo}" alt="MvTym logo">
                    </a>
                </div>
            </a>    
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="logo hidden-xs">
                <li class="dropdown">
                {foreach $navigation as $nav}
                        <li class="{$nav['class']} {if $presenter == $nav['pureName']}active{/if}">
                            {ifset $nav['link']}
                                <a href="{$nav['link']}">
                                {else}        
                                    <a href={plink ($nav['presenter'])}>
                                    {/ifset}        
                                    {$nav['label']}
                                </a>
                                <span/>
                        </li>
                    {/foreach}
            </ul>
        </div>
    </div>
</div>
