{* Latte template *}

{form form class=>"form-horizontal"}
   <div class="form-details form-details-bg"> 
    <div class="form-row">
        <div class="input-box">
            <span class="input-label">
            {label title class=>"control-label"/}
            </span>
        <div class="input-group">    
            {input title class=>"form-control datepicker"}
        </div>
        </div>
    </div>
    <div class="form-row">
        <div class="input-box size-c">
            <span class="input-label">
              {label from class=>"control-label"/}
            </span>
            <div class="input-group">    
                {input from class=>"form-control datetimepicker"}
                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
        </div>
        <div class="input-box size-c">        
            <span class="input-label">
                {label to class=>"control-label"/}
            </span>
            <div class="input-group">
                {input to class=>"form-control datetimepicker"}
                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
        </div>
    </div>    
    <div class="form-row">
        <div class="input-box">
            <span class="input-label">
                <label class="control-label">Text:</label>
            </span>
        </div>
        <div class="input-group">    
            {input text class=>"form-control", style=>"height: 400px;"}
        </div>
    </div>
    <div class="form-row">
        <div class="input-box">
            <span class="input-label">
                 {label tags class=>"control-label"/}
            </span>
        </div>
        <div class="input-group">    
            {input tags class=>"form-control"}
        </div>
    </div>
    <div class="form-row">
        <div class="input-box">
        {control tags:admin}
        </div>
    </div>    
    <div class="form-row" n:if="file_input == true">
        <div class="input-box">
            <span class="input-label">
            {label fotogaleria class=>"control-label"/}
            </span>
        </div>
        <div class="input-group">
            {input fotogaleria}
            <span class="help-block">ZIP súbor s fotografiami.</span>
        
            {if $hasPhotogallery}
               <div id="admin_thumbs"> 
               <ul class="admin photogallery">
                   <li n:foreach="$thumbs as $thumb"><img src="{$thumb['thumb']}"></li>
               </ul>
               </div>
            {/if}
        </div>    
    </div>     
    <div class="form-row">
        <div class="input-group">
            {input send class=>"btn btn-success"}
            <a href={plink ":Admin:Diary:default"} class="btn btn-default">Späť</a>
        </div>    
    </div>
   </div>         
{/form}

<style>
    #footer2{
        margin-top: 10px;
    }
</style>
    

<script>
    tinymce.init({
        selector: "textarea",mode: "specific_textareas",
            editor_selector: "mceEditor", width: 800,height: 300,
            plugins: [
            "advlist autolink link image lists charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
            "table contextmenu directionality emoticons paste textcolor jbimages"
            ],
            toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
            toolbar2: "| jbimages | link unlink anchor | image media | forecolor backcolor  | print preview code ",
            image_advtab: true 
    });
    
     jQuery(function ($) {
        $.datepicker.regional['sk'] = {
            closeText: 'Zavrieť',
            prevText: '&lt; Predchádzajúci',
            nextText: 'Nasledujúci &gt;',
            currentText: 'Dnes',
            monthNames: [
                'Január',
                'Február',
                'Marec',
                'Apríl',
                'Máj',
                'Jún',
                'Júl',
                'August',
                'September',
                'Október',
                'November',
                'December'
            ],
            monthNamesShort: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'Máj',
                'Jún',
                'Júl',
                'Aug',
                'Sep',
                'Okt',
                'Nov',
                'Dec'
            ],
            dayNames: [
                'Nedeľa',
                'Pondelok',
                'Utorok',
                'Streda',
                'Štvrtok',
                'Piatok',
                'Sobota'
            ],
            dayNamesShort: [
                'Ned',
                'Pon',
                'Uto',
                'Str',
                'Štv',
                'Pia',
                'Sob'
            ],
            dayNamesMin: [
                'Ne',
                'Po',
                'Ut',
                'St',
                'Št',
                'Pia',
                'So'
            ],
            dateFormat: 'd.m.yy',
            firstDay: 0,
            isRTL: false
        };
        $.datepicker.setDefaults($.datepicker.regional['sk']);
    });

    $('.datetimepicker').datepicker({
        dateFormat: "dd.mm.yy"
    });
</script>    