{* Latte template *}

{block css}
    <!-- Bootstrap -->
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="{$basePath}/css/bootstrap.css">

                <!-- Optional theme -->
                <link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.css">

                <!-- Latest compiled and minified JavaScript -->
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <!-- END Bootstrap -->
{/block}

{block content}

    {form admin class=>"form-horizontal",style=>"width:300px;margin:0 auto;margin-top:15px;text-align:center"}
       
      <div class="alert alert-danger" n:if="$form->hasErrors()">  
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <fieldset>
      </div>

        <!-- Form Name -->
        <legend>Vstup do administrácie</legend>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="login" style="text-align:left">Login:</label>
          <div class="controls">
              {input login placeholder=>"Login"}  
          </div>
        </div>

        <!-- Password input-->
        <div class="control-group">
          <label class="control-label" for="heslo">Heslo:</label>
          <div class="controls">
            {input heslo placeholder=>"Heslo"}
          </div>
        </div>

        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="singlebutton"></label>
          <div class="controls">
            <button id="singlebutton" name="singlebutton" class="btn btn-success"><span class="fa fa-unlock" style="padding-right:6px"></span>Vstup do administrácie</button>
          </div>
        </div>

        </fieldset>

    {/form}
