{* This is the welcome page, you can delete it *}

{block title}
Blog
{/block}

{block content}

{*control flickr*}
{*<div id="diaries">
    {foreach $diaries as $diary}
        <div class="diary">
            <h2>
                {$diary->fromDate|date:'j.n.Y'}

                {if $diary->toDate}
                    - {$diary->toDate|date:'j.n.Y'}
                {/if}

                {$diary->title}
            </h2>
            <div class="text">
                {$diary->text|noescape}

                {var $photos = ltrim($diary->photogallery,'.')}
                {var $photos = (unserialize($photos))}

                <div class="fotogaleria">
                    {foreach $photos as $photo}
                        <a href="{$photo['image']}" data-lightbox="{$diary->id}"><img src="{$photo['thumb']}"></a>
                        {/foreach}
                </div>


            </div>
        </div>
    {/foreach}
    <a class="button" n:href="Diaries:default"><span class="fa fa-external-link-square"></span>Denník</span></a>
</div>*}

<div class="row">
    <div class="col-lg-6">
        <section id="latest_diaries" class="home">
            <h2>Najnovšie denníky</h2>
            {foreach $diaries as $diary}
                <div class="item">
                    <div class="head">
                        <div class="date_start hidden-xs left">
                            <p class="day">{$diary->fromDate|date:'j'}</p>
                            <p class="month">{$diary->fromDate|date:'n'}</p>
                            <p class="year">{$diary->fromDate|date:'Y'}</p>
                        </div>
                        <h3 class="left">{$diary->title}</h3>
                    </div>
                    <div class="content">
                        <div class="visible-xs sm_screen_date"><strong>{$diary->fromDate|date:'j.n.Y'}</strong></div>
                        {$diary->text|noescape}
                    </div>
                    {var $photos = ltrim($diary->photogallery,'.')}
                    {var $photos = (unserialize($photos))}
                    {if $photos != NULL}
                    <div class="photos">
                        {foreach $photos as $photo}
                        <a href="{$photo['image']}" data-lightbox="{$diary->id}"><img src="{$photo['thumb']}"></a>
                        {/foreach}
                    </div>
                    {/if}
                </div>
            {/foreach}
            <a n:href="Diaries:default">
                <div class="btn btn-r btn-mv t17">Denník »</div>
            </a>
        </section>
    </div>
    <div class="col-lg-6">
        <section id="latest_caches">
            <h2>Najnovšie kešky</h2>
            {foreach $geocaches as $geocache}
                <div class="item">
                    <div class="head">
                        {if $geocache['type']['id'] == 3}
                        <div class="date_start left" style="background: {$geocache['type']['color']|noescape}; color=#000">
                        {else}
                        <div class="date_start left hidden-xs" style="background: {$geocache['type']['color']|noescape}">
                        {/if}
                            <p class="day">{$geocache['found']|date:'j'}</p>
                            <p class="month">{$geocache['found']|date:'n'}</p>
                            <p class="year">{$geocache['found']|date:'Y'}</p>
                        </div>

                            <div class="left gc_icon">
                            <img src="https://www.geocaching.com/images/wpttypes/{$geocache['type']['image']}" alt="">
                        </div>
                        <div class="left">
                           {$geocache['name']}<br>
                           <small>{$geocache['country']['country']} | {$geocache['region']} | {$geocache['district']} | {$geocache['town']}</small>
                        </div>
                    </div>
                    <div class="content" style="margin-top:5px">
                        {*$geocache->name|noescape*}
                    </div>
            {/foreach}
            <a n:href="Geocaching:default">
                <div class="btn btn-r btn-mv t17">Geocaching »</div>
            </a>
        </section>
        <section id="latest_caches">
            <h2>Najnovšie fotografie</h2>
            {control flickr}
        </section>
        <section id="latest_articles">
            <h2>Najnovšie články</h2>
            {foreach $articles as $article}
                <div class="item">
                    <a n:href="Articles:show, id=>$article->id">
                    <div class="head">
                        <div class="date_start left">
                            <p class="day">{$article->publishedDate|date:'j'}</p>
                            <p class="month">{$article->publishedDate|date:'n'}</p>
                            <p class="year">{$article->publishedDate|date:'Y'}</p>
                        </div>
                        <h3 class="left">
                           {$article->title}
                        </h3>
                    </div>
                    </a>
                </div>
                    {*<div class="content">*}
                        {*$geocache->name|noescape*}
                    {*</div>*}
                    {*{var $photos = ltrim($diary->photogallery,'.')}
                    {var $photos = (unserialize($photos))}
                    {if $photos != NULL}
                    <div class="photos">
                        {foreach $photos as $photo}
                        <a href="{$photo['image']}" data-lightbox="{$diary->id}"><img src="{$photo['thumb']}"></a>
                        {/foreach}
                    </div>
                    {/if}
                </div>*}
            {/foreach}
            <div class="content" style="margin-top:5px"></div>
            <a n:href="Articles:default">
                <div class="btn btn-r btn-mv t17">Články »</div>
            </a>
        </section>
    </div>
</div>

{/block}
