<div class="statistics-list">
    <ul>
	<li>
	    {if $actualType == 'country-ranking'}
		<a class="big bold" n:href="type! type=>'country-ranking'">Krajiny</a> 
	    {else}
		<a class="normal" n:href="type! type=>'country-ranking'">Krajiny</a> 
	    {/if}
	</li>
	<li>
	    {if $actualType == 'region-ranking'}
		<a class="big bold" n:href="type! type=>'region-ranking'">Kraje</a> 
	    {else}
		<a class="normal" n:href="type! type=>'region-ranking'">Kraje</a> 
	    {/if}
	</li> 
	<li>
	    {if $actualType == 'district-ranking'}
		<a class="big bold" n:href="type! type=>'district-ranking'">Okresy</a> 
	    {else}
		<a class="normal" n:href="type! type=>'district-ranking'">Okresy</a> 
	    {/if}
	<li>
	    {if $actualType == 'town-ranking'}
		<a class="big bold" n:href="type! type=>'town-ranking'">Obce</a> 
	    {else}
		<a class="normal" n:href="type! type=>'town-ranking'">Obce</a> 
	    {/if}
	</li>
    </ul>
</div>

<div class="ranking-list">	    
{if $actualType == 'country-ranking'}
    {control countryRankingGrid}
{elseif $actualType == 'region-ranking'}
    {control regionRankingGrid}
{elseif $actualType == 'district-ranking'}
    {control districtRankingGrid}
{elseif $actualType == 'town-ranking'}
    {control townRankingGrid}
{/if}    
</div>
