{* Latte template *}

{form form class=>"form-horizontal"}

    <div class="form-details form-details-bg"> 
        <div class="form-row">
            <div class="input-box">
                <span class="input-label">
                    {label title class=>"control-label"/}
                </span>
                <div class="input-group">    
                    {input title class=>"form-control datepicker"}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-box">
                <div class="input-group">
                    <div class="drop-box-wrapper">
                        <div class="drop-box">
                            <div class="drop-box icon">
                                <img src="{$basePath}/images/photo-icon.png" alt="">
                                <div class="row">- <span class="t15">900 x 350</span> -</div>
                                <span class="btn btn-default btn-file">Pridať intro obrázok</span>
                            </div>    
                            {input introPhoto}
                        </div>
                    </div>
                    <div class="drop-file">
                        <div class="drop-tools hidden">
                            {if !$id}
                                <a href="#" class="btn btn-default" id="remove-attachment">
                                {else}
                                    <a n:href="removeIntro!" class="btn btn-default" id="remove-attachment">        
                                    {/if}
                                    <span class="fa fa-trash-o"></span>
                                </a>    
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-box size-c">
                <span class="input-label">
                    {label access_date class=>"control-label"/}
                </span>
                <div class="input-group">    
                    {input access_date class=>"form-control datetimepicker"}
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                </div>
            </div>
            <div class="input-box size-b">
                <span class="input-label">
                    {label meta_keywords class=>"control-label"/}
                </span>
                <div class="input-group">    
                    {input meta_keywords class=>"form-control"}
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="input-box">
                <span class="input-label">
                    {label meta_description class=>"control-label"/}
                </span>
            </div>
            <div class="input-group">    
                {input meta_description class=>"form-control"}
            </div>
        </div>        
        <div class="form-row">
            <div class="input-box">
                <span class="input-label">
                    <label class="control-label">Intro text:</label>
                </span>
            </div>
            <div class="input-group">    
                {input introText class=>"form-control mceEditorIntro", style=>"height: 100px;"}
            </div>
        </div>        
        <div class="form-row">
            <div class="input-box">
                <span class="input-label">
                    <label class="control-label">Text:</label>
                </span>
            </div>
            <div class="input-group">    
                {input text class=>"form-control mceEditor", style=>"height: 400px;"}
            </div>
        </div>
        <div class="form-row">
            <div class="input-group foot">
                {input btnSubmit class=>"btn btn-success"}
                {if $saved !== FALSE}
                    {input btnPublish class=>"btn btn-warning"}
                {/if}
                <a href={plink ":Admin:Diary:default"} class="btn btn-default">Späť</a>
            </div>    
        </div>
    </div>   
{/form}

<style>
    #footer2{
        margin-top: 10px;
    }
</style>

<script>

    jQuery(function ($) {
        $.datepicker.regional['sk'] = {
            closeText: 'Zavrieť',
            prevText: '&lt; Predchádzajúci',
            nextText: 'Nasledujúci &gt;',
            currentText: 'Dnes',
            monthNames: [
                'Január',
                'Február',
                'Marec',
                'Apríl',
                'Máj',
                'Jún',
                'Júl',
                'August',
                'September',
                'Október',
                'November',
                'December'
            ],
            monthNamesShort: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'Máj',
                'Jún',
                'Júl',
                'Aug',
                'Sep',
                'Okt',
                'Nov',
                'Dec'
            ],
            dayNames: [
                'Nedeľa',
                'Pondelok',
                'Utorok',
                'Streda',
                'Štvrtok',
                'Piatok',
                'Sobota'
            ],
            dayNamesShort: [
                'Ned',
                'Pon',
                'Uto',
                'Str',
                'Štv',
                'Pia',
                'Sob'
            ],
            dayNamesMin: [
                'Ne',
                'Po',
                'Ut',
                'St',
                'Št',
                'Pia',
                'So'
            ],
            dateFormat: 'd.m.yy',
            firstDay: 0,
            isRTL: false
        };
        $.datepicker.setDefaults($.datepicker.regional['sk']);
    });

    $('.datetimepicker').datepicker({
        dateFormat: "dd.mm.yy"
    });

    // Drop upload
    var dropInput = $('.drop-box').find(':file');
    var dropTools = $('.drop-tools');
    var dropFile = $('.drop-file');
    dropFile.addClass('hidden');
    dropInput.change(function () {

        if (this.files && this.files[0]) {
            var file = this.files[0];
            if (file.type.match(/^image\/*/)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = $('<img src="' + e.target.result + '" alt="">');
                    dropFile.removeClass('hidden');
                    dropTools.removeClass('hidden');
                    dropFile.append(img);
                };
                reader.readAsDataURL(file);
            }
        }
        ;
    });

    $('#remove-attachment').click(function (e) {
        if ($(this).attr('href') !== '#') {

            return true;
        }
        e.preventDefault();
        dropFile.addClass('hidden');
        dropTools.addClass('hidden');
        dropFile.find('img').remove();
    });

    {if $introPhoto !== NULL}
    var e_introPhoto = {$introPhoto};

    var img = $('<img src="' + e_introPhoto + '" alt="">');
    dropFile.removeClass('hidden');
    dropTools.removeClass('hidden');
    dropFile.append(img);
    {/if}
</script>    