{* Latte template *}

{block content}

<div class="col-lg-12">
    <div class="grid-top-box">
        {control statsFilter}

        {control diarySearchForm}
        
        <span class="spinner" style="float:left;position:relative;top:1px;left:2px">
            <img alt="spinner" src="{$basePath}/images/ajax-loader.gif">
        </span>
        
        <div class="top-buttons btn-group">
            <a class="btn btn-success" n:href=":Admin:Diary:Add">Pridať denník</a>
        </div>    
    </div>
	<a href="default.latte"></a>

{control grid}

{*<a n:href=":Admin:Diary:add" class="button"><span class="fa fa-plus"></span>Pridať zápis</a>

<table class="admin_table">
    <tr class="th">
        <th>Názov</th>
        <th>Čas od</th>
        <th>Čas do</th>
        <th>Akcie</th>
    </tr>
{foreach $diaries as $diary}
    <tr>
        <td>{$diary->title}</td>
        <td>{$diary->fromDate|date:'d.m.Y'}</td>
        <td>{$diary->toDate|date:'d.m.Y'}</td>
        <td>
            <a class="button" n:href="edit id=>$diary->id"><span class="fa fa-edit"></span>Uprav</a>
            <a class="button" n:href="delete! id=>$diary->id" onclick="return confirm('Naozaj chcete odstrániť tento zápis?');"><span class="fa fa-trash-o"></span>Odstráň</a>
        </td>
    </tr>
{/foreach}
</table>*}

</div>