{* Latte template *}

{block scripts}
<script type="text/javascript" src="{$basePath}/js/tinymce/tinymce.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link rel="stylesheet" media="screen,projection,tv"
    href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css">
<script>
        tinymce.init({
    selector: "textarea",mode: "specific_textareas",
    editor_selector: "mceEditor", width: 920,height: 300,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak",
         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
         "table contextmenu directionality emoticons paste textcolor jbimages"
   ],
   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
   toolbar2: "| jbimages | link unlink anchor | image media | forecolor backcolor  | print preview code ",
   image_advtab: true 
    });
    
    
    
    $(document).ready(function () {
        
        $.datepicker.regional['sk'] = {
        closeText: 'Zatvoriť',
        prevText: '&#x3c;',
        nextText: '&#x3e;',
        currentText: 'Teraz',
        monthNames: ['január', 'február', 'marec', 'apríl', 'máj', 'jún', 'júl', 'august',
            'september', 'október', 'november', 'december'],
        monthNamesShort: ['jan', 'feb', 'mar', 'apr', 'máj', 'jún', 'júl', 'aug', 'sep', 'okt', 'nov', 'dec'],
        dayNames: ['nedela', 'pondelok', 'utorok', 'streda', 'štvrtok', 'piatok', 'sobota'],
        dayNamesShort: ['ne', 'po', 'ut', 'st', 'št', 'pi', 'so'],
        dayNamesMin: ['ne', 'po', 'ut', 'st', 'št', 'pi', 'so'],
        weekHeader: 'Týž.',
        dateFormat: 'dd. mm. yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['sk']);
        
    $("input.date").each(function () { // input[type=date] does not work in IE
        var el = $(this);
        var value = el.val();
        var date = (value ? $.datepicker.parseDate($.datepicker.W3C, value) : null);

        var minDate = el.attr("min") || null;
        if (minDate) minDate = $.datepicker.parseDate($.datepicker.W3C, minDate);
        var maxDate = el.attr("max") || null;
        if (maxDate) maxDate = $.datepicker.parseDate($.datepicker.W3C, maxDate);

        // input.attr("type", "text") throws exception
        if (el.attr("type") == "date") {
            var tmp = $("<input/>");
            $.each("class,disabled,id,maxlength,name,readonly,required,size,style,tabindex,title,value".split(","), function(i, attr)  {
                tmp.attr(attr, el.attr(attr));
            });
            tmp.data(el.data());
            el.replaceWith(tmp);
            el = tmp;
        }
        el.datepicker({
            minDate: minDate,
            maxDate: maxDate
        });
        el.val($.datepicker.formatDate(el.datepicker("option", "dateFormat"), date));
    });
});
        </script>
{/block}

{block content}
<div class="col-lg-12">
        {control breadcrumb}
        
        <div class="top-buttons btn-group">
            <a n:href=":Admin:Diary:default" class="btn btn-default">Späť</a>
            <button class="btn btn-success" form-data="{$diaryForm}">Upraviť denník</button>
        </div>
        {control diaryForm}
</div>


<script>
    $(".btn-success").click(function(){
           var form = $(this).attr("form-data");
           console.log($("#" + form));
           $("#" + form).trigger("submit");
        });
</script>        