
{snippet calendar}

{ifset $calendarBlocksTemplate}
    {includeblock $calendarBlocksTemplate}
{/ifset}

<div class="calendar-control">
    {block|strip}
        {ifset #cal-top}{include #cal-top}{/ifset}

        <table class="calendar table table-responsive table-bordered">
        {ifset #cal-table-top}{include #cal-table-top}{/ifset}

        {if $areSelectionsActive and isset($control->monthSelection)}
            {include #cal-month-selection}
        {elseif $areSelectionsActive and isset($control->yearSelection)}
            {include #cal-year-selection}
        {else}
            {for $row = 0; $row < $rows; $row++}
                <tr>
                {for $col = 0; $col < $cols; $col++}
                {var $cell = $getCell($row, $col)} 
                    {if $cell->isForLabel()}
                        {include #cal-th cell => $cell}
                    {else}
                        {include #cal-week-day cell => $cell}
                    {/if}
                {/for}
                </tr>
            {/for}
        {/if}

        {ifset #cal-table-bottom}{include #cal-table-bottom}{/ifset}
        </table>

        {ifset #cal-bottom}{include #cal-table-bottom}{/ifset}
    {/block}
</div>

<div class = "calendar row col-xs-12">
    {if count($links['diaries']) > 0}
        <h4><a href="{plink Diaries:default, month=> $month, year => $year}" class="nodecor"><i class="fa fa-square" style="color: {$links["colors"]["diary"]|noescape}"></i> Denník</a></h4>
        <div class="list-group">
            {foreach $links['diaries'] as $link}
            <div class="list-group-item"><span class="cal_info_date" style="background: {$links["colors"]["diary"]|noescape}">{$link->fromDate|date:'j'}</span>{$link->title}</div>
            {/foreach}
        </div>
    {/if}    
    {if count($links['geocaches']) > 0}
        <h4><a href="{plink Geocaching:default}" class="nodecor"><i class="fa fa-square" style="color: {$links["colors"]["geocaching"]|noescape}"></i> Geocaching</a></h4>
         <div class="geocaches">
            {foreach $links['geocaches'] as $link}
            <div class="list-group-item"><span class="cal_info_date" style="background: {$links["colors"]["geocaching"]|noescape}">{$link['found']|date:'j'}</span>{$link['name']}</div>
            {/foreach}
        </div>
    {/if}
    {if count($links['articles']) > 0}
        <h4><a href="{plink Articles:default}" class="nodecor"><i class="fa fa-square" style="color: {$links["colors"]["articles"]|noescape}"></i> Články</a></h4>
         <div class="geocaches">
            {foreach $links['articles'] as $link}
            <div class="list-group-item"><span class="cal_info_date" style="background: {$links["colors"]["articles"]|noescape}">{$link['publishedDate']|date:'j'}</span>{$link['title']}</div>
            {/foreach}
        </div>
    {/if}
</div>    

{/snippet}