{* $cell is blitzik\Date\Cell object that holds $year, $month and $day(another object) properties. *}
{* Look at class definition for more info about $cell properties *}


{define cal-top}
    {* empty space above the calendar table *}
{/define}


{define cal-table-top}
    <tr><td>
    <a href="{link previousMonth}" class="ajax cal-prev-month"><i class="fa fa-chevron-left"></i></a>
    </td><td colspan="{isset($control->monthSelection) || isset($control->yearsSelection) ? 1 : 5}" class="cal-month-label-cell">
    <span class="cal-month-label"><a n:tag-if="$areSelectionsActive" href="{link showMonthSelection}" class="ajax">{_$getMonthName($month)}</a> <a n:tag-if="$areSelectionsActive" href="{link showYearSelection}" class="ajax">{$year}</a></span>
    </td><td>
    <a href="{link nextMonth}" class="ajax cal-next-month"><i class="fa fa-chevron-right"></i></a>
    </td></tr>
{/define}



{define cal-month-selection}
<tr>
    <td class="months-selection text-center" colspan="3">
        <ul class="months-list">
            {for $m = 1; $m <= 12; $m++}
                <li><a href="{link selection year => $year, month => $m}" n:class="ajax, $m == date('n') ? current-month">{_$getMonthNameSelect($m,'1')}</a></li>
            {/for}
        </ul>
    </td>
</tr>
{/define}



{define cal-year-selection}
<tr>
    <td class="years-selection" colspan="3">
        {var $currentYear = date('Y')}
        <ul class="years-list">
        {for $y = $currentYear - 10; $y <= $currentYear + 10; $y++}
            <li><a href="{link selection year => $y, month => $month}" n:class="ajax, $y == date('Y') ? current-year">{$y}</a></li>
        {/for}
        </ul>
    </td>
</tr>
{/define}



{define cal-th}
    <th>{_$cell->getLabel()|substr:0, $charsToShortTo}</th>
{/define}



{define cal-week-day}
    {var $day = $cell->getDay()}
    <td style="background: {$day->color|noescape}" n:class="($day->isCurrent() and $cell->getMonth() === $day->getMonth()) ? current-day, $cell->getNumber() <= 0 ? prev-month-day, $cell->getNumber() > $cell->getNumberOfDaysInMonth() ? next-month-day">
        {$day}
    </td>
{/define}



{define cal-table-bottom}
    {* empty space at the bottom of <table> *}
{/define}



{define cal-bottom}
    {* empty space under the calendar <table> *}
{/define}
