{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<html>
<head>
<title>navrh</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{$basePath.'/css/css.css'}">
</head>
<body>
<!-- Save for Web Slices (navrh.psd) -->
<div id="site-wrapper">
    <div id="container">
        <header id="header">

        </header>
        <nav>Domov O nás</nav>
        <div id="main">
            <div id="left_panel">
                <div id="left_panel_nav">
                    <span class="active">Geocaching</span>
                    <span>Endomondo</span>
                    <span>Fotogaléria</span>
                </div>    
                <div id="left_panel_content">
                    {control geocaching}
                </div>
            </div>    
            <div id="main_panel">
                MAIN
                
            </div>               
        </div>          
    </div>	
</div>    
<!-- End Save for Web Slices -->
</body>
</html>
