{* Latte template *}

{block content}


{control photoGalleryGrid}

<div id="myDeleteModal" class="mymodal" style="background:white;display:none">
</div>

<script>
    $('a[rel*=deleteForm]').click (function (){
        var id = $(this).attr('category-id');
       $('#myDeleteModal').bPopup({
           content: 'ajax',
           loadUrl: 'delete/'+id,
           closeClass: 'closeModal'
        }); 
    });
</script>