{* Latte template *}

{block content}

<div class="col-lg-12">
    <div class="grid-top-box">
        {control geocachingFilter}
        
        <div class="top-buttons btn-group">
            <a class="btn btn-success" data-toggle="modal" data-target="#processModal">Pridať kešky</a>
        </div>
    </div>           

{control grid}

{snippet form}
    {control geocachingEditForm}
{/snippet form}

    <div class="modal fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="processModalLabel">Pridanie nálezov</h4>
                </div>
                <div class="modal-body">
                    {snippet processForm}
                    <div class="warning-message">
                        <span class="fa fa-warning"></span>
                        Vložte prosím súbor gpx exportovaný programom GeoGet ako GeoGet GPX v2</span>
                    </div>
                    {control processGeocachingForm}
                    {/snippet processForm}
                </div>
            </div>
        </div>
    </div>    
</div>

</div>