<div class="diary-grid-filter">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			{$selectedPeriod['label']}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu filter-size">

			<li n:foreach="$periods as $id => $period">
				<a n:href="this period => $id, from => $period['from'], to => $period['to']">{$period['label']}</a>
			</li>
			
		</ul>
	</div>
</div>