
<div class ="flickr-box">
    <div class="flickr-images">
        {foreach $photos as $photo}
            <img src="https://farm{$photo['farm']}.staticflickr.com/{$photo['server']}/{$photo['id']}_{$photo['secret']}_m.jpg">
        {/foreach}
    </div>
    <a href = 'https://www.flickr.com/photos/27844421@N05'><div class="btn btn-r btn-mv t17">Fotogaléria »</div></a>
</div>