{* Latte template *}

{form form class=>'ajax geocachingProcessForm'}
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>

    <div class="form-group">
        {label locFile/}
        {input locFile}    
    </div>
    <div class="form-group">
        {label mapjson/}
        {input mapjson}    
    </div>
    {input submit class=>'btn btn-default'}
{/form}

    <div id='spinner'>
        <img src='{$basePath}/images/ajax-loader.gif'>
    </div>
    
    <style>
        #spinner {
            display: none;
        }
    </style>